<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ORANGE MAĞAZALARI</title>
  <style > 
  body {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color:#F2F2F2; /* Modern arkaplan rengi */
	color: #333; /* Metin rengi */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
  
 .container {
    width: 90%;
    max-width: 400px; /* Maksimum genişlik */
    text-align: center;
    background-color: #F2AD94;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Hafif gölge */
    }
    
    h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #F23005
   /* Modern başlık rengi */
    }
    
    p {
    font-size: 1.2em;
    margin-bottom: 30px;
    }
    
    input[type="text"],
    input[type="password"],
    button {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    }
    
    input[type="text"]:focus,
    input[type="password"]:focus {
    outline: none;
    border-color: black; /* Odaklandığında sınır rengi */
    }
    
    button {
    background-color: #F23005; /* Modern buton arkaplan rengi */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
    
    button:hover {
    background-color: #F27B50; /* Buton üzerine gelindiğindeki arkaplan rengi */
    }
    .form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    }
    
    .form-options label {
    font-size: 0.9em;
    }
    
    .form-options a {
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    transition: color 0.3s ease;
    }
    
    .form-options a:hover {
    color: black;
    }
    .content h1 {
    border-bottom: 4px solid #F23005;
    padding-bottom: 10px;
    margin-bottom: 20px;
    }
    .content p {
    color:white;
    background-color: #F27B50; /* Saydamlık eklenmiş arka plan rengi */
    padding: 10px;
    border-radius: 8px;;
    }
  
    .table-container {
      margin-left: 1px; /* Margin sol değeri 100 olarak ayarlandı */
      margin-top: 200px;
    border-right:  1px #000;
  }
  </style>
</head>
<body>
  <div class="container">
    <div class="content">
      <h1>Yönetici Paneli</h1>
      <form action="/login-check" method="POST"> <!-- Form, /login route'una POST metoduyla veri gönderecek -->
        <input type="text" name="username" placeholder="Kullanıcı Adı" required>
        <input type="password" name="password" placeholder="Şifre" required>
        <div class="form-options">
        </div>
        <button type="submit">Giriş Yap</button>
      </form>
    </div>
  </div>
</body>
</html>