<body>
<!-- partial:index.partial.html -->
<ul>
	<li>
		<a href="/homepage">
			<i class="ai-home"></i>
			<span>Anasayfa</span>
		</a>
	</li>
	<li>
		<a href="/graphic">
			<i class="ai-align-bottom"></i>
			<span>Grafikler</span>
		</a>
	</li>	
	<li>
		<a href="/product">
			<i class="ai-shipping-box-v2"></i>
			<span>Ürünler</span>
		</a>
	</li>
	<li>
		<a href="/store">
			<i class="ai-grid"></i>
			<span>Şube</span>
		</a>
	</li>
	<li>
		<a href="/">
			<i class="ai-door"></i>
			<span>Çıkış Yap</span>
		</a>
	</li>
</ul>
<!-- partial -->
  <script src='https://unpkg.com/akar-icons-fonts'></script><script  src="./script.js"></script>

</body>

